:root {
  --background: #1E1E1E;
  --foreground: #2C2C2C;
  --font-color: #F3F3F3;
  --font-size_title: 84px;
  --font-size_desc: 22px;

  --button-bg: #2C2C2C;
  --button-border_color: #767676;
  --button-hover: 0.7;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

main {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

section{
  height: 100vh;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

button {
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: var(--font-color);
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  background: var(--button-bg);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  .button:hover {
    opacity: var(--button-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    opacity: var(--button-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 768px) {
  section{
    width: 100vw;
    padding: 0 3.4vw;
  }
}