.aboutme_section > div{
  display: flex;
}

.aboutme_section > div > img{
  border-radius: 5%;
  align-self: center;
}


@media (max-width: 765px){
  .aboutme_section img{
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }
}